site_name: DJ Petter

theme:
  name: material
  logo: fontawesome/turntable
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: blue
      accent: light green
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: blue
      accent: light green

# MUST be a mapping (dict). Leaving it empty causes the "NoneType" error.
extra:
  generator: false
  # homepage: https://dcloud.cisco.com
  # social:
  #   - icon: fontawesome/brands/github-alt
  #     link: https://github.com
  #   - icon: fontawesome/brands/twitter
  #     link: https://twitter.com
  #   - icon: fontawesome/brands/linkedin
  #     link: https://linkedin.com

markdown_extensions:
  - toc:
      toc_depth: 2
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

copyright:
  Copyright 2025 DJ Petter
